section h1 {
	position: relative;
	float: left;
	margin: 0;
}

section > .task {
	position: relative;
	width: 100%;
	margin: 15px 0;
	line-height: 30px;
	font-size: 14pt;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	vertical-align: middle;
}

section > .task:first-of-type {
	margin-top: 0;
}

section > .task input[type="checkbox"] {
	opacity: 0;
	z-index: 1;
	cursor: pointer;
	float: left;
}

section > .task input[type="checkbox"], section > .task input[type="checkbox"] + span:before {
	margin: 0;
	width: 30px;
	height: 30px;
}

section > .task input[type="checkbox"] + span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	border: 1px solid #ccc;

	transition: .2s;
}

section > .task input[type="checkbox"]:checked + span:before {
	left: 10px;
	width: 10px;
	height: 20px;
	border: 2px solid #0f9d58;  
	border-top: 0;
	border-left: 0;
	-webkit-transform: rotate(40deg);
	box-shadow: inset 0 0 0 1px transparent;
}

section > .task span {
	height: 30px;
	margin-left: 30px;
	float: left;
	cursor: pointer;
}

section .task i {
	position: relative;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0;
	margin-right: 30px;
	float: left;
	color: #555;
}

section .task input[type="text"] {
	position: relative;
	height: 30px;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	z-index: 1;
	font-size: 14pt;
	line-height: 30px;
	background-color: transparent;
	float: left;
	font-weight: 100;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section i.icon-trashcan {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #888;
	font-size: 16px;
	float: right;
	cursor: pointer;
	z-index: 2;
}

i.icon-three-bars {
	display: none;
	cursor: pointer;
	z-index: 3;
}

@media (max-width: 900px) {
	i.icon-three-bars {
		display: block;
	}
}